body {
    min-height: calc(100vh - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/fairytale-forest-7759927_1280.jpg);
}
.full-body{
    display: flex;
    justify-content: space-between;
    
}

#h1 {
    color: rgb(237, 19, 19);
    font-size:5em;
    font-family: 'Poiret One', cursive;
    font-family: 'Satisfy', cursive;
}

.stats {
    display: flex;
    flex-direction: column;
    font-family: 'Fuggles', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Satisfy', cursive;
}
.slideAnitimation{
    animation: slide 4s timing-function delay iteration-count direction fill-mode;
}
.hidden{
    opacity: 0;
}
#egg{
    height: 12em; 
}
@keyframes slide {
    from{
        margin-left: 100%;
        width: 300%
    }
    to{
        margin-left: 0%;
        width: 100%;

    }

}
#cat{
    size: 20em;
}