body {
    min-height: calc(100vh - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(assets/fairytale-forest-7759927_1280.jpg);
}
.full-body{
    display: flex;
    justify-content: space-between;
    
}

#h1 {
    color: rgb(237, 19, 19);
    font-size:5em;
    font-family: 'Poiret One', cursive;
    font-family: 'Satisfy', cursive;
}

.stats {
    display: flex;
    flex-direction: column;
    font-family: 'Fuggles', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Satisfy', cursive;
}

.tenor-gif-embed{
    width: 25px;
}
/* @keyframes cat{

}
#cat{
    size: 20em;
} */